<div class="page-content-container">
    <nav class="nav-container">
        <div class="logo-container">
            <a class="logo-button" onclick="indexCtrl.loadAccueil()">
                <p class="logo"><span class="bold">Drink</span>UP</p>
            </a>
        </div>
        <div class="search-bar-container">
            <input class="search-bar" action="/recherche.html" type="text" placeholder="Rechercher..."
                onkeypress="checkPress(event)">
        </div>
        <div class="profile-all-buttons-container"></div>
    </nav>
    <hr class="hr-nav">
    <main>
        <h1>Commandes</h1>
        <div class="liste-vide-container"></div>
        <div id="liste-commandes-container"></div>
    </main>
</div>
<footer>
    <div class="footer-adresse-container">
        <p>DrinkUP</p>
        <p>Rue des Vins et Breuvages 43</p>
        <p>1700 Fribourg</p>
    </div>
    <a href="#" class="footer-move-up-text">REVENIR EN HAUT</a>
    <p>© 2025 DrinkUP SA - Tout droits réservés </p>
</footer>