<div class="page-content-container">
    <nav class="nav-container">
        <div class="logo-container">
            <a href="/index.html" class="logo-button">
                <p class="logo"><span class="bold">Drink</span>UP</p>
            </a>
        </div>
    </nav>
    <hr class="hr-nav">
    <main>
        <div class="login-content-container">
            <div class="login-container">
                <p class="login-title">Créer un compte</p>
                <div class="login-form">
                    <p class="login-form-text">Nom d'utilisateur</p>
                    <input type="text" name="username" class="login-form-input" placeholder="nom d'utilisateur">
                    <p class="login-form-text">Mot de passe</p>
                    <input type="password" name="password" class="login-form-input" placeholder="mot de passe">
                    <p class="login-form-text">Confirmer le mot de passe</p>
                    <input type="password" name="passwordConfirm" class="login-form-input" placeholder="mot de passe">
                    <div class="login-form-button-container">
                        <button onclick="creationCompteCtrl.pressCreerCompte()" class="login-form-button" onclick="">CRÉER</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>